<nav class="navbar navbar-light navbar-expand-sm justify-content-center" style="background-color: #bdb6f0">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="reimbursement" id="reimbursement-link">Request</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pending" id="pending-link">Pending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="resolved" id="resolved-link">Resolved</a>
        </li>
    </ul>
</nav>