<div class="container mt-2">
    <form action="reimbursement" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col-sm mb-2">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" maxlength="50"  required  />
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm mb-2">
                <label for="amount">Amount</label>
                <input type="number" min="0.01" step="0.01" class="form-control" id="amount" name="amount" placeholder="0.00" required  />
            </div>
            <div class="col-sm mb-2">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date"  required  />
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm mb-2">
                <label for="detail">Details</label>
                <textarea class="form-control" id="detail" name="detail" maxlength="100" placeholder="Please enter details here." style="resize: none;"></textarea>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile03" name="picture" >
                <label class="custom-file-label" for="inputGroupFile03"></label>
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="submitButton" value="upload">Save</button>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

        <script>
            $(document).ready(function() {
                bsCustomFileInput.init()
            });
        </script>
    </form>
</div>